[submodule "thirdparty/TinyEXIF"]
	path = thirdparty/TinyEXIF
	url = https://github.com/cdcseacave/TinyEXIF
[submodule "thirdparty/tinyxml2"]
	path = thirdparty/tinyxml2
	url = git@github.com:leethomason/tinyxml2.git
