#!/usr/bin/env xdg-open
[Desktop Entry]
Name=qView
GenericName=Image Viewer
Type=Application
Exec=qview %U
Icon=qview
StartupNotify=true
StartupWMClass=qview
Comment=Simple Qt Image Viewer
Categories=Qt;Graphics;Viewer;Photography
Terminal=false
MimeType=image/bmp;image/x-win-bitmap;image/gif;image/icns;image/x-icon;image/jpeg;image/jpg;image/x-portable-bitmap;image/x-portable-graymap;image/png;image/x-portable-pixmap;image/svg+xml;image/tiff;image/vnd.wap.wbmp;image/webp;image/x-xbitmap;image/x-xpixmap