#!/usr/bin/env xdg-open
[Desktop Entry]
Name=qView
GenericName=Image Viewer
Type=Application
Exec=qview %U
Icon=qview
StartupNotify=true
StartupWMClass=qview
Comment=Simple Qt Image Viewer
Categories=Qt;Graphics;Viewer;Photography
Terminal=false
MimeType=image/svg+xml;image/bmp;image/gif;image/jpg;image/jpeg;image/png;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap
